.S1 {
    border: 1px solid pink;

}


.MainContainer {
    width: 1500px;
    margin: 0 auto;
}

.WhoWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;

    gap: 100px;
}

.Who {
    font-size: 34px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    width: 244px;
    height: 46px;
    color: #000000;
    top: 8px;
}

.WhoText {
    font-size: 16px;
    line-height: 32px;
    width: 602px;
    height: 192px;
    color: #000000;
    
    flex: none;
}

.A1 {
    left: 2;
    right: 1;
    top: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #000000;


}

.S2 {
    border: 1px solid red;
}

.What {
    display: flex;
    justify-content: flex-end;
    left: 100px;
    height: 46px;
    font-size: 34px;
    line-height: 48px;
    letter-spacing: 0.01em;
}

.WhatText {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 32px;

}

.A2 {
    display: flex;
    justify-content: flex-end; 
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
}

